
.aboutme {
    height: 60rem;
    background: #50655B;
    color: white;
    margin-bottom: $xxl-size;
}

.aboutme-content {
    padding: $xxl-size 0;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    > * {
        margin: $m-size 0;
    }
}

.aboutme-left {
    > * {
        margin-bottom: $m-size;
    }
}

.aboutme-img {
    border-radius: 50%;
    width: 250px;
}