.footer-content {
    background: #189AB4;
    color: white;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $s-size;
    font-weight: 200;
}