.header {
    background: darkolivegreen;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    outline: none;
    h1 {
        margin: 0;
    }
}

.header__subtitle {
    color: darken(yellow, 7%);
}

