.header {
    background: #189AB4;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__title {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    outline: none;
    h1 {
        margin: 0;
    }
}

.header__subtitle {
    color: darken(#05445E, 7%);
    margin: $l-size 0;
}

