.nav-content {
    
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #05445E;
    padding: $s-size $s-size;
    margin-right: $s-size;
    text-align: center;
    border-bottom: none;
    border-radius: 5px;
    outline: none;
    border: none;
}

.nav-link:hover {
    background-color: lighten(#05445E,5%);
    color: white;
}
